[user]
	name = malan88
	email = m@stdwtr.io
[core]
	editor = nvim
	excludesfile = /home/malan/.gitinore_global
[alias]
	graph = log --oneline --decorate --graph --all
	s = status
	co = checkout
    ec = config --global -e
	ctags = !.git/hooks/ctags
    dc = diff --cached 
    ds = diff --staged 
[pull]
	rebase = true
[url "git@github.com:malan88/"]
    insteadOf = me:
