[user]
	name = mas
	email = m@stdwtr.io
[core]
	editor = nvim
[alias]
	graph = log --oneline --decorate --graph --all
	s = status
	a = add
	c = commit
	co = checkout
    ec = config --global -e
	ctags = !.git/hooks/ctags
    ds = diff --staged
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[pull]
	rebase = true
[url "git@github.com:mas-4/"]
    insteadOf = me:
[url "git@github.com:Anno-Wiki/"]
    insteadOf = icc:
[url "git@github.com:MBS-Standoffs/"]
    insteadOf = mbs:
[init]
	defaultBranch = main
[branch]
	autosetupmerge = always
