[user]
	name = malan88
	email = malan88@standingwater.io
[core]
	editor = nvim
	excludesfile = /home/malan/.gitinore_global
[alias]
	graph = log --oneline --decorate --graph --all
	s = status
	amend = commit
	co = checkout
    ec = config --global -e
	ctags = !.git/hooks/ctags
	push = push
[pull]
	rebase = true
[url "git@github.com:malan88/"]
    insteadOf = me:
