! special
*.foreground:   #ffffff
*.background:   #3c3b6e
*.cursorColor:  #ffffff

! black
*.color0:       #21203c
*.color8:       #000000

! red
*.color1:       #d9293f
*.color9:       #7b1724

! green
*.color2:       #02a276
*.color10:      #015941

! yellow
*.color3:       #ceb888
*.color11:      #7d4802

! blue
*.color4:       #007cc2
*.color12:      #0021a5

! magenta
*.color5:       #f98dc9
*.color13:      #f765b8

! cyan
*.color6:       #27fdf5
*.color14:      #a8f6f8

! white
*.color7:       #d0d0d0
*.color15:      #979797

#define     font_face   Hack
#define     font_size   14

#include    ".Xresources.d/xterm"
#include    ".Xresources.d/urxvt"
