! Import colors
#include    ".Xresources.d/colors"

! Define fonts
#define     font_face   Hack
#define     font_size   16

! Import xterm/urxvt settings
#include    ".Xresources.d/xterm"
#include    ".Xresources.d/urxvt"
